activities: 
  des: 'Design / UX'  
  dev: 'Development'
  setcon: 'Setup / configuration' 
  suptra: 'Support / training'
  a: 'Analysis'
  pm: 'Project management'
  fed: 'Front-end Dev'  
  bed: 'Back-end Dev' 
  sup: 'Support'
  con: 'Configuration'  
  devops: 'Dev-Ops'
  est: 'Estimation'
  test: 'Test'
  evt: 'Event'
  tra: 'Training'
  sale: 'Sales/Pre-sales'